<h1>Boards#index</h1>

<div id="<%= @board.id %>" class="board">
  <% @layers.each do |layer| %>
    <div class="layer">
      <% layer.each do |row| %>
      <div class="row">
      <% row.each do |square| %>
        <div id='<%= square.x_coord.to_s + "-" + square.y_coord.to_s + "-" +
                 square.z_coord.to_s %>' class='square'><%= square.mark %></div>
        <% end %>
      </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="score">
  <button id="x_score">X's Score: 0</button>
  <button id="o_score">O's Score: 0</button>
</div>
